@import '~Style/Common.module.scss';
@import '~Style/Font.module.scss';

html * {
  box-sizing: border-box;
}

body,
input,
button,
select {
  font-family: roboto-light;
}

h1 {
  font-size: 48px;
}

.app {
  height: 100%;
  position: absolute;
  width: 100%;
  text-align: center;
  background: $purple;
  color: $grey;
  overflow: hidden;
}
