@import './Style/Common.module.scss';
@import './Style/Fonts.module.scss';

.app {
  height: 100%;
  position: absolute;
  width: 100%;
  text-align: center;
  background: $dark;
  color: $grey;
  font-family: roboto-light;
  overflow: hidden;
}