@import '~Style/Common.module.scss';
@import '~Style/Font.module.scss';

html * {
  box-sizing: border-box;
}

body,
input,
button,
select {
  font-family: roboto-light;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

h1 {
  font-size: 48px;
}

.app {
  height: 100%;
  position: absolute;
  width: 100%;
  text-align: center;
  background: $purple;
  color: $grey;
  overflow: hidden;
}
