.button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  width: 100%;
  max-width: 100px;
  padding: 8px;
  color: black;
  background: linear-gradient(90deg, rgba(241, 241, 243, 1), transparent)
    rgba(142, 142, 150, 1) 100%;
  transition: background-color 0.25s;

  &:active {
    transform: translateY(2px);
  }

  &:hover {
    background-color: rgba(241, 241, 243, 1);
  }
}
