$dark: #252525;
$dark2: #373737;
$grey: #e5e5e5;
$purple: #110f24;
$purple2: #090a1e;

// Timer colors
$green: #60bf60;
$orange: #c78f60;
$red: #c41e3a;

// Horizontal spacing
$padding-left: 15px;
$padding-right: 15px;
