@import '~Style/Common.module.scss';

.controller {
  background: $dark2;
  max-width: fit-content;
  margin: 0 auto;
  padding: 35px;
  border-radius: 16px;
  margin-top: 70px;
  background: linear-gradient(
    170deg,
    rgba(57, 56, 70, 1) 0%,
    rgba(22, 21, 39, 1) 100%
  );
  box-shadow: 11px 11px 0 $purple2;
  transition: all 0.1s ease;

  &:hover {
    box-shadow: 14px 14px 0 $purple2;
  }

  .title {
    margin-top: 0;
  }

  .timerForm {
    margin-bottom: $box-gap;

    .controllerButtons {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: $box-gap;
      margin-top: $box-gap;
    }

    button:first-letter {
      text-transform: uppercase;
    }
  }

  .messageForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $box-gap;

    .button {
      max-width: none;
    }
  }

  .error {
    text-align: left;
    display: flex;
    color: $red;
    margin-bottom: 0;
    flex-direction: column;
    margin-top: 18px;
  }
}
